[submodule "vim/pack/ctrlp/start/ctrlp.vim"]
	path = vim/pack/ctrlp/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule "vim/pack/nerdtree/start/nerdtree"]
	path = vim/pack/nerdtree/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "vim/pack/lightline/start/lightline.vim"]
	path = vim/pack/lightline/start/lightline.vim
	url = https://github.com/itchyny/lightline.vim.git
[submodule "vim/pack/vim-gitbranch/start/vim-gitbranch"]
	path = vim/pack/vim-gitbranch/start/vim-gitbranch
	url = https://github.com/itchyny/vim-gitbranch.git
[submodule "vim/pack/robotframework-vim/start/robotframework-vim"]
	path = vim/pack/robotframework-vim/start/robotframework-vim
	url = https://github.com/mfukar/robotframework-vim.git
[submodule "vim/pack/vim-prettier/start/vim-prettier"]
	path = vim/pack/vim-prettier/start/vim-prettier
	url = https://github.com/prettier/vim-prettier
[submodule "vim/pack/papercolor-theme/start/papercolor-theme"]
	path = vim/pack/papercolor-theme/start/papercolor-theme
	url = https://github.com/NLKNguyen/papercolor-theme.git
[submodule "vim/pack/python-syntax/start/python-syntax"]
	path = vim/pack/python-syntax/start/python-syntax
	url = https://github.com/vim-python/python-syntax.git
[submodule "vim/pack/taglist.vim/start/taglist.vim"]
	path = vim/pack/taglist.vim/start/taglist.vim
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "vim/pack/vim-gitgutter"]
	path = vim/pack/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "vim/pack/vim-commentary/start/commentary"]
	path = vim/pack/vim-commentary/start/commentary
	url = https://tpope.io/vim/commentary.git
[submodule "tmux/plugins/tmux-resurrect"]
	path = tmux/plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect.git
[submodule "tmux/plugins/tmux-continuum"]
	path = tmux/plugins/tmux-continuum
	url = https://github.com/tmux-plugins/tmux-continuum.git
