[submodule "pack/ctrlp/start/ctrlp.vim"]
	path = pack/ctrlp/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule "pack/nerdtree/start/nerdtree"]
	path = pack/nerdtree/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "pack/peaksea/start/peaksea"]
	path = pack/peaksea/start/peaksea
	url = https://github.com/vim-scripts/peaksea.git
[submodule "pack/lightline/start/lightline.vim"]
	path = pack/lightline/start/lightline.vim
	url = https://github.com/itchyny/lightline.vim.git
[submodule "pack/vim-gitbranch/start/vim-gitbranch"]
	path = pack/vim-gitbranch/start/vim-gitbranch
	url = https://github.com/itchyny/vim-gitbranch.git
[submodule "pack/robotframework-vim/start/robotframework-vim"]
	path = pack/robotframework-vim/start/robotframework-vim
	url = https://github.com/mfukar/robotframework-vim.git
[submodule "pack/vim-prettier/start/vim-prettier"]
	path = pack/vim-prettier/start/vim-prettier
	url = https://github.com/prettier/vim-prettier
[submodule "pack/papercolor-theme/start/papercolor-theme"]
	path = pack/papercolor-theme/start/papercolor-theme
	url = https://github.com/NLKNguyen/papercolor-theme.git
[submodule "pack/python-syntax/start/python-syntax"]
	path = pack/python-syntax/start/python-syntax
	url = https://github.com/vim-python/python-syntax.git
[submodule "pack/taglist.vim/start/taglist.vim"]
	path = pack/taglist.vim/start/taglist.vim
	url = https://github.com/vim-scripts/taglist.vim.git
